{% extends "homelayout.html" %}

{% block title %}
Ordering | Pizzups
{% endblock %}

{% block body %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!--References for radio button as cards https://jsfiddle.net/djibe89/at2cv9q1/ -->
<style>
label {
  width: 100%;
  font-size: 1rem;
}

.card-input-element+.card {
  height: calc(36px + 2*1rem);
  color: var(--primary);
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 2px solid transparent;
  border-radius: 4px;
}

.card-input-element+.card:hover {
  cursor: pointer;
}

.card-input-element:checked+.card {
  border: 2px solid var(--primary);
  -webkit-transition: border .3s;
  -o-transition: border .3s;
  transition: border .3s;
}

.card-input-element:checked+.card::after {
  content: '\e5ca';
  color: #AFB8EA;
  font-family: 'Material Icons';
  font-size: 24px;
  -webkit-animation-name: fadeInCheckbox;
  animation-name: fadeInCheckbox;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@-webkit-keyframes fadeInCheckbox {
  from {
    opacity: 0;
    -webkit-transform: rotateZ(-20deg);
  }
  to {
    opacity: 1;
    -webkit-transform: rotateZ(0deg);
  }
}

@keyframes fadeInCheckbox {
  from {
    opacity: 0;
    transform: rotateZ(-20deg);
  }
  to {
    opacity: 1;
    transform: rotateZ(0deg);
  }
}

</style>

<div id="order-list-header">
  <h1 class="font-weight-bold pt-3 pl-3">Ordering</h1>
</div>
<hr>
<div id="order-list-body">
  <p class="font-weight-bold" style="color: var(--primary)">Please select the spesific menu</p>
  <form method="post">

    {% if menu.price is not none %}
    <label>
    <input type="radio" name="order" class="card-input-element d-none" value="price">
    <div class="card card-body bg-light d-flex flex-row justify-content-between align-items-center">
        {{menu_type}}: {{menu.name}} ${{menu.price}}
    </div>
   </label>
   {% endif %}

    {% if menu.small is not none %}
    <label>
    <input type="radio" name="order" class="card-input-element d-none" value="small">
    <div class="card card-body bg-light d-flex flex-row justify-content-between align-items-center">
      {% if menu_type == 'Regular' or menu_type == 'Sicilian' %}
        {{menu_type}} Pizza
      {% else %}
        {{menu_type}}
      {% endif %}: {{menu.name}} [Small] ${{menu.small}}
    </div>
   </label>
   {% endif %}

   {% if menu.large is not none %}
   <label>
   <input type="radio" name="order" class="card-input-element d-none" value="big">
   <div class="card card-body bg-light d-flex flex-row justify-content-between align-items-center">
     {% if menu_type == 'Regular' or menu_type == 'Sicilian' %}
       {{menu_type}} Pizza
     {% else %}
       {{menu_type}}
     {% endif %}: {{menu.name}} [Large] ${{menu.large}}
   </div>
   </label>
   {% endif %}

   {% if tops.type is not none %}
   <p class="font-weight-bold mb-3" style="color: var(--primary)">Select Your {{tops.type}}{{tops.num|pluralize}}</p>
     {% for n in tops.num %}
       <select class="custom-select mb-3" name="toppings{{forloop.counter}}">
        {% for top in tops_list %}
          <option value="{{top|slugify}}">{{top}}</option>
        {% endfor %}
      </select>
    {% endfor %}
  {% endif %}

  <button class="btn btn-success" type="submit">Add to Shopping Cart</button>
  </form>
</div>
{% endblock %}
