{% extends "homelayout.html" %}

{% block title %}
Shopping Cart | Pizzups
{% endblock %}

{% block body %}
<div id="order-list-header">
  <h1 class="font-weight-bold pt-3 pl-3">Shopping Cart</h1>
</div>
<hr>
<div id="order-list-body">
  {% if carts%}
  <a href="{% url 'default menu list' %}">&#8592; Order More</a>
  <div>
    <table class="table mt-3 table-fixed text-center">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">Menu Description</th>
          <th scope="col">Menu Portion</th>
          <th scope="col">Price</th>
          <th scope="col">Topping<br>1</th>
          <th scope="col">Topping<br>2</th>
          <th scope="col">Topping<br>3</th>
          <th scope="col">Option</th>
        </tr>
      <thead>

      <tbody>
        {% for cart in carts %}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td>{{cart.menu_desc}}</td>
          <td>{{cart.menu_portion}}</td>
          <td>${{cart.price}}</td>
          <td>
            {% if cart.topping1 is not none %}
                {{cart.topping1}}
            {% else %}
                -
            {% endif %}
          </td>
          <td>
            {% if cart.topping2 is not none %}
                {{cart.topping2}}
            {% else %}
                -
            {% endif %}
          </td>
          <td>
            {% if cart.topping3 is not none %}
                {{cart.topping3}}
            {% else %}
                -
            {% endif %}
          </td>
          <td><a href="{% url 'shopping cart option' 'delete' cart.id %}" class="btn btn-danger btn-sm">Delete</a></td>
        </tr>
      {% endfor %}
      </tbody>
      <tfoot>
          <tr>
            <th>Total Price</th>
            <th> </th>
            <th> </th>
            <th>${{total_price}}</th>
            <th> </th>
            <th> </th>
            <th> </th>
            <th> </th>
          </tr>
      </tfoot>
    </table>
  </div>
  {% else %}
  <p class="mt-5 text-center"> You haven't order anything yet </p>
  {% endif %}

{% if carts %}


<form method="post">
  {% csrf_token %}
  <div class="input-group input-group-lg flex-nowrap w-100">
    <input type="text" name="address" class="form-control" placeholder="Enter your address..." required>
    <div class="input-group-append">
      <button class="btn btn-success" type="submit">Process Order</button>
    </div>
  </div>
</form>
{% endif %}
</div>
{% endblock %}
