{% extends "layout.html" %}

{% block title %}
Lorem Channel | Slack
{% endblock %}

{% block body %}

<style>
p{
    margin: 0;
}
</style>
<div class="row flex-xl-nowrap">
    <div class="col-xl-2 col-sm-3 p-0" style="min-height: 100vh; border: 1px solid #eeeeee;">
        <h5 class="p-3 mx-2" style="border-bottom: 1px solid #eeeeee">Channels</h4>
        <div class="overflow-auto">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active"># channel1</a>
                <a href="#" class="list-group-item list-group-item-action"># channel2</a>
                <a href="#" class="list-group-item list-group-item-action"># channel3</a>
                <a href="{{url_for('add_channel')}}" class="list-group-item list-group-item-action">+ Create new channel</a>
            </div>
        </div>
    </div>
    <div class="col-xl-10 col-sm-9">
        <div class="p-3 w-100" style="border-bottom: 1px solid #eeeeee">
            <a class="h4">#channel1</a>
            <div style="float: right;">
            <a>@Tenessine | </a><a href="{{url_for('index')}}" >Log Out</a>
            </div>
        </div>
        
        <div class="h-75" style="overflow-y: auto;">
            <p>[Jun 2, 2020 | 06:57:56] <strong style="color: blue;">Tenessine join the chat</strong></p>
            <p>[Jun 2, 2020 | 06:58:00] &lt;<strong style="color: blue;">Tenessine</strong>&gt; Hello ppl!</p>
            <p>[Jun 2, 2020 | 06:58:01] &lt;<strong style="color: blue;">Tenessine</strong>&gt; Is anyone here?</p>
            <p>[Jun 2, 2020 | 06:58:05] <strong style="color: blue;">Tenessine left the chat</strong></p>
        </div>

        <div class="p-3 w-100" style="border-top: 1px solid #eeeeee">
            <form class="form-group" method="POST" action="#">
                <div class="input-group flex-nowrap w-75" style="float: none; margin: 0 auto;">
                    <input name="message" type="text" class="form-control" placeholder="Enter message...">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}