{% extends "layout.html" %}

{% block title %}
{% if viewAs == 'welcome' %}
    Welcome!
{% elif viewAs == 'channel' %}
    {{session['current_ch']}} Channel | Flack
{% elif viewAs == 'create' %}
    Create New Channel
{% endif %}
{% endblock %}

{% block body %}

<style>
p{
    margin: 0;
}
</style>
<div class="row flex-xl-nowrap">
    <div class="col-xl-2 col-sm-3 p-0" style="min-height: 100vh; border: 1px solid #eeeeee;">
        <h5 class="p-3 mx-2" style="border-bottom: 1px solid #eeeeee">Channels</h4>
        <div class="overflow-auto">
            <div class="list-group">
                <div id="channels">
                {% for channel in ch %}
                    <a href="{{url_for('channels', chn = channel)}}" class="list-group-item list-group-item-action
                    {% if session['current_ch'] == channel %}
                        active
                    {% endif %}"># {{channel}}</a>
                {% endfor %}
                </div>
                <a href="{{url_for('add_channel')}}" class="list-group-item list-group-item-action
                {% if viewAs == 'create' %}
                    active
                {% endif %}">+ Create new channel</a>
            </div>
        </div>
    </div>

    <div class="col-xl-10 col-sm-9">
        <div class="p-3 w-100" style="border-bottom: 1px solid #eeeeee">
            {% if viewAs == 'welcome' %}
                <a class="h4">Welcome!</a>
            {% elif viewAs == 'channel' %}
                <a class="h4"># {{session['current_ch']}}</a>
            {% elif viewAs == 'create' %}
                <a class="h4">Create New Channel</a>
            {% endif %}

            <div style="float: right;">
            <a>@{{session['user_dname']}} | </a><a href="{{url_for('logout')}}" >Log Out</a>
            </div>
        </div>


        {% if viewAs == 'welcome' %}
        <div class="h-75 container" style="overflow-y: auto;">
            <div class="row align-items-center h-100">
                <div class="col-6 mx-auto">
                    <div class="jumbotron text-center">
                        <h4 class="font-weight-bold">Welcome to the Flack, <strong style="color: #{{session['user_color']}};">{{session['user_dname']}}</strong>!</h4>
                        <p>You can join the existing channel or create a new channel.</p>
                    </div>
                </div>
            </div>
        </div>

        {% elif viewAs == 'channel' %}
        <div class="h-75" style="overflow-y: auto;">
            <div id="chatMsg">
                {% for msg in messages %}
<!--                <p>[Jun 2, 2020 | 06:57:56] <strong style="color: blue;">Tenessine join the chat</strong></p> -->
                <p>{{msg[0] | safe}}</p>
<!--                <p>[Jun 2, 2020 | 06:58:05] <strong style="color: blue;">Tenessine left the chat</strong></p> -->
                {% endfor %}
            </div>
        </div>

        {% elif viewAs == 'create' %}
        <div class="h-75 container" style="overflow-y: auto;">
                <div class="row align-items-center h-100">
                    <div class="col-xl-6 col-sm-12 mx-auto">
                        <div class="jumbotron text-center">
                            <p class="lead">Please enter new channel name</p>

                            <div id="channel-form" class="form-group">
                                <div class="input-group flex-nowrap w-75 mb-2 mt-4" style="float: none; margin: 0 auto;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="addon-wrapping">#</span>
                                    </div>
                                    <input id="newchannel-name" name="newchannel" type="text" class="form-control" placeholder="New channel name..." aria-describedby="addon-wrapping">
                                    <div class="input-group-append">
                                        <button id="newchannel-submit" class="btn btn-primary">Create</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}



        <div class="p-3 w-100" style="border-top: 1px solid #eeeeee">
            {% if viewAs == 'channel' %}
            <div class="form-group">
                <div class="input-group flex-nowrap w-75" style="float: none; margin: 0 auto;">
                    <input id="msg-text" name="message" type="text" class="form-control" placeholder="Enter message...">
                    <div class="input-group-append">
                        <button id="msg-submit" type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}