{% extends "layout.html" %}

{% block title %}
Create New Channel | Slack
{% endblock %}

{% block body %}

<style>
p{
    margin: 0;
}
</style>
<div class="row flex-xl-nowrap">
    <div class="col-xl-2 col-sm-3 p-0" style="min-height: 100vh; border: 1px solid #eeeeee;">
        <h5 class="p-3 mx-2" style="border-bottom: 1px solid #eeeeee">Channels</h4>
        <div class="overflow-auto">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action"># channel1</a>
                <a href="#" class="list-group-item list-group-item-action"># channel2</a>
                <a href="#" class="list-group-item list-group-item-action"># channel3</a>
                <a href="#" class="list-group-item list-group-item-action active">+ Create new channel</a>
            </div>
        </div>
    </div>
    <div class="col-xl-10 col-sm-9">
        <div class="p-3 w-100" style="border-bottom: 1px solid #eeeeee">
            <a class="h4">Create new channel</a>
            <div style="float: right;">
                <a>@Tenessine | </a><a href="{{url_for('index')}}" >Log Out</a>
            </div>
        </div>
        
        <div class="h-75 container" style="overflow-y: auto;">
            <div class="row align-items-center h-100">
                <div class="col-6 mx-auto">
                    <div class="jumbotron text-center">
                        <p class="lead">Please enter new channel name</p>
                        <form class="form-group" method="POST" action="#">
                            <div class="input-group flex-nowrap w-75 mb-2 mt-4" style="float: none; margin: 0 auto;">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="addon-wrapping">#</span>
                                </div>
                                <input name="newchannel" type="text" class="form-control" placeholder="New channel name..." aria-describedby="addon-wrapping">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-primary">Create</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-3 w-100" style="border-top: 1px solid #eeeeee">
        </div>
    </div>
</div>

{% endblock %}