{% extends "layout.html" %}

{% block title %}
Welcome to the Flack!
{% endblock %}

{% block body %}

<div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="col-6 text-center mx-auto">
            <h1 class="font-weight-bold">Flack</h1>
            <p class="lead">Please enter your display name</p>
            {% if error is not none %}
                <p class="text-danger">{{error}}</p>
            {% endif %}
            <form class="form-group" method="POST" action="#">
                <div class="input-group flex-nowrap w-75 mb-2" style="float: none; margin: 0 auto;">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-wrapping">@</span>
                    </div>
                    <input id="dname" name="displayname" type="text" class="form-control" placeholder="Display name..." aria-describedby="addon-wrapping">
                </div>
                <button id="dname-submit" class="btn btn-primary" type="submit">Join Flack</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}