{% extends "layout.html" %}

{% block title %}
{{book.title}} | BookCheck
{% endblock %}

{% block style %}
<style>
form{
    width: 50% !important;
}
header{
    padding: 25px;
    width: 100%;
}
</style>
{% endblock %}

{% block body %}

<header>
        <a href="{{url_for('index')}}">&#8592; Back to search</a>
        <a style="float: right;" href="{{url_for('login')}}">Log out</a>
</header>

<div class="container-fluid p-5" style="width: 75%;">
    <div class="row justify-content-center">
        <div class="col-12 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-2">    
                            <img src="{{data['best_book']['image_url']}}">
                        </div>
                        <div class="col-5">
                            <h3>{{book.title}}</h3>
                            <p>ISBN: {{book.isbn}}<br>
                                Author: {{book.author}}<br>
                                Published Year: {{book.year}}</p>
                        </div>
                        <div class="col-5">
                            <h5>Goodreads Review Data</h5>
                            <p>Average Rating: {{data['average_rating']}}
                            <br>Ratings Count: {{data['ratings_count']['#text']}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% for review in reviews %}
        <div class="col-12">
            <div class="card">
                <div class="card-head pl-3 pt-3">
                    <p class="m-0"><strong>{{review.username}}</strong> &#10029; {{review.ratings}}</p>
                </div>
                <div class="card-body">
                    <p class="text-justify mb-0">{{review.reviews_text}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% if canreview == 0 %}
<form class="container mt-3" method="POST" action="{{url_for('details',isbn=book.isbn)}}" autocomplete="off">
<div class="input-group">
        <input name="reviews" type="text" class="form-control" placeholder="Submit review as {{session['user_name']}}..." required autofocus>
        <div class="input-group-append">
                <select name="rating" class="custom-select" required>
                        <option value=0 selected>Select Rating...</option>
                        <option value=1>1 Star</option>
                        <option value=2>2 Stars</option>
                        <option value=3>3 Stars</option>
                        <option value=4>4 Stars</option>
                        <option value=5>5 Stars</option>
                </select>
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </div>
</form>
{% endif %}
{% endblock %}