$borderColor: #eeeeee;

html, body{
    margin:0;
    padding:0;
}

header{
    margin: 0;
    padding: 15px;
    background-color: black;
    width: 100%;
    h1{
        color: white;
    }
}

.date-time{
    font-size: 16px;
}


#news-article{
    margin-left: 3px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;

    .article-box{
        width: 100% !important;
        padding: 10px;
        border: 1px solid #eeeeee;
        h4{
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
        }
        .article-box-body{
            display: flex;
            flex-direction: row;

            p{
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 16px;
                padding: 5px;
                text-align: justify;
            }
        }

    }

    .news-box{
        padding: 15px;
        border: 1px solid $borderColor;
        
        .news-box-head{
            margin-bottom: 15px;
        }
    }
}

#side-article{
    @extend #news-article;
    margin-left: 0;
    
    .side-article-box{
        @extend .article-box;
    }

}

#contact-us{
    @extend #news-article;

    .contact-us-box{
        @extend .article-box;
    }
}

footer{
    margin-top: 3px;
    border-top: 1px solid $borderColor;
    padding: 3px;
    text-align: center;
    font-size: 14px;
    color: grey;
}

@media only screen and (max-width: 499px){
    header{
        width: 100%;
        h1{
            font-size: 26px !important;
            font-weight: bold !important;
        }
    }
    .article-box-body{
        img{
            margin-right: 12px;
        }
        p{
            padding: 0 !important;
            font-size: 12px;
        }
    }

    .side-article-box{
        padding-left: 15px !important;
    }
}